---

- name: add a prettier git log alias
  git_config:
    name: alias.lg
    state: present
    scope: global
    value: "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

- name: Set git user.name
  git_config:
    name: user.name
    scope: global
    value: "Andy Wendt"

- name: Set git user.email
  git_config:
    name: user.email
    scope: global
    value: "andy@awendt.com"
